*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font: 'Arial', sans-serif;

    --black: #333333;

    --text-xs: 0.75em;
    --text-sm: 0.875em;
    --text-md: 1em;
    --text-lg: 1.5em;

    --space-sm: 0.5em;
    --space-md: 1em;
    --space-lg: 2em;
    --space-xl: 3em;

    --shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); 
}

html,
body,
div,
span,
h1,
h2,
p,
img {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: var(--font);
    color: var(--black);
}

.container {
    max-width: 80%;
    margin: var(--space-lg) auto;
}

main .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .content .img_404 {
    max-width: 50%;
}

main .detail {
    margin: var(--space-lg);
}

main .detail > * {
    margin-bottom: var(--space-md);
}

main .detail .detail_title {
    font-size: 3.5em;
}

main .detail .detail_description {
    font-size: 1.5em;
}

main .detail .detail_button {
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--black);
    color: #fff;
    padding: var(--space-md);
    display: inline-block;
    transition: transform 150ms ease;
}

main .detail .detail_button:hover {
    transform: scale(1.1);
}

footer .footer_text {
    text-align: center;
    color: var(--black);
}

@media (max-width: 45em ) {
    main .content .img_404 {
        max-width: 100%;
    }

    main .content {
        display: block;
    }
}