@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// RESET CSS
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --size-sm : 8px;
    --size-md : 12px;
    --size-lg : 24px;
    --size-xl : 42px;
    --size-xxl: 74px;

    --primary-font: 'Montserrat', sans-serif;

    --primary-orange: #F2994A;
    --gray-1: #828282;
}

::placeholder {
    font-family: var(--primary-font);
    font-size: 16px;
    color: var(--gray-1);
    font-weight: 600;
}

body {
    font-family: var(--primary-font);
    font-size: 1rem;
    color: #333;
}

div,
h1,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

// BODY CSS
.container {
    max-width: 980px;
    margin: var(--size-lg) auto;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: var(--size-lg);

    .form {

        .form-title {
            font-size: 18px;
            font-weight: 600;
            color: #333333;
            margin-top: var(--size-xl);
        }
        form {
            margin-top: var(--size-md);

            .shipping-title {
                margin-top: var(--size-xl);
            }
            .form-control {
                width: 100%;
                margin-bottom: var(--size-md);

                label {
                    margin-bottom: var(--size-md);
                    margin-top: var(--size-md);
                    color: #333;
                    font-weight: bold;
                    font-size: var(--size-md);
                }

                .input-field {
                    display: flex;
                    border-radius: var(--size-md);
                    border: 1px solid #828282;
                    padding: 4px;

                    
                    .select-container {
                        padding: 8px;
                        width: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        select {
                            border: none;
                            outline: none;
                            appearance: none;
                            -webkit-apperance: none;
                            padding: 0;
                            font-size: 16px;
                            font-weight: 600;
                            color: var(--gray-1);
                        }
                    }
                    .select-container::after {
                        content: 'expand_more';
                        font-family: 'material icons';
                        position: absolute;
                        background-color: #E0E0E0;
                        padding: 2px;
                        border-radius: 4px;
                        font-size: 22px;
                        right: 10px;
                        pointer-events: none;
                    }
                }

                .icon {
                    padding: 10px; 
                    color: var(--gray-1); 
                    min-width: 50px; 
                    text-align: center;
                }
                label {
                    display: block;
                }
                input {
                    // display: block;
                    outline: none;
                    width: 100%;
                    border: none;
                    overflow: hidden;
                }
                select {
                    // display: block;
                    width: 100%;
                    padding: var(--size-md);
                    border-radius: var(--size-sm);
                    // border: 1px solid #828282;
                    outline: none;
                    
                }

                input[type=submit] {
                    width: 150px;
                    padding: 18px;
                    color: white;
                    border-radius: var(--size-md);
                    background-color: var(--primary-orange);
                    float: right;
                    font-size: 16px;
                    font-weight: 600;
                }

            }
            .split-input {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 20px;
            }

            .save-information {
                display: flex;
                align-items: center;

                font-size: var(--size-md);
                font-weight: 600;
                margin-top: var(--size-lg);

                p {
                    margin-left: var(--size-sm);
                }
            }
        }
    }

    
    .details-checkout {
        justify-self: end;
        .details-wrapper {
            background-color: #F2F2F2;
            border-radius: var(--size-md);
            padding: var(--size-lg);
            width: 390px;
            height: auto;

            .detail-buy {
                display: flex;
                margin-bottom: var(--size-lg);

                img {
                    width: 150px;
                    border-radius: var(--size-sm);
                    margin-right: var(--size-lg);
                }

                .detail-information {
                    .title-item {
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 1rem;
                    }

                    .detail-price {
                        font-size: 16px;
                        font-weight: 600;
                        color: var(--primary-orange);

                        span {
                            color: #333;
                            font-size: 12px;
                            margin-left: 10px;
                        }
                    }

                    .detail_quantity {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        width: 130px;
                        padding: 12px;
                        border-radius: 12px;
                        border: 1px solid var(--gray-1);
                        margin-top: var(--size-lg);

                        .tambah {
                            color: var(--gray-1);
                            background-color: #E0E0E0;
                            cursor: pointer;
                            z-index: 1;
                        }

                        .kurang {
                            color: var(--gray-1);
                            background-color: #E0E0E0;
                            cursor: pointer;
                            z-index: 1;
                        }

                        #box span {
                            display: none;
                            font-weight: 600;
                        }

                        #box span:nth-child(1) {
                            display: initial;
                        }
                    }
                }

            }

            .detail-order {
                margin-top: 2rem;

                hr {
                    border-top: 1px solid #BDBDBD;
                }
                .detail-order__shipping {
                    margin: 1rem 0;

                    p {
                        font-weight: 600;
                    }
                }

                .detail-order__total {
                    margin: 1rem 0;

                    p {
                        font-weight: 600;
                    }
                }

                > * {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}

@media (max-width: 760px) {
    main {
        grid-template-columns: repeat(1, 1fr);
        padding: 12px;
    }
    .details-checkout {
        margin: 0 auto;
    }

    .form {
        order: 2;

        .input-field {
            width: 94%;
        }
    }
}

footer {
    text-align: center;
    font-size: var(--size-md);
    font-weight: 600;
    color: #BDBDBD;
    margin-top: 14px;
}